In [3]:
from pydataset import data
%matplotlib inline
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import env

NameError: name 'env' is not defined

1. Answer with the type of test you would use (assume normal distribution):

- Is there a difference in grades of students on the second floor compared to grades of all students?
- Are adults who drink milk taller than adults who dont drink milk?
- Is the the price of gas higher in texas or in new mexico?
- Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

In [ ]:
# Is there a difference in grades of students on the second floor 
# compared to grades of all students?

# two-tailed one-sample t-test.

In [ ]:
# Are adults who drink milk taller than adults who dont drink milk?

# one tailed, two sample t-test.

In [ ]:
# Is the the price of gas higher in texas or in new mexico?

# one-tailed two sample samples t-test

In [ ]:
# Are there differences in stress levels between students who take
# data science vs students who take web development vs 
# students who take cloud academy?



# ANOVA Analysis of Variance

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [ ]:
mean1 = 90 
std1 = 15 
sample1 = 40
#Office 2
mean2 = 100 
std2 = 20 
sample2 = 50

α = .05

In [ ]:
null_hypo = 'There is no significant change in averge time to sell homes between the two offices'
alt_hypo = 'There is a difference in the average time it takes to sell a home between each office'
confidence_level = .95
α = 1 - confidence_level

In [ ]:
from scipy.stats import ttest_ind_from_stats
t, p = ttest_ind_from_stats(mean1, std1, sample1, mean2, std2, sample2)
t, p

In [ ]:
if (p/2) < α:
    print("Reject the null hypothesis")
else: 
    print("Fail to reject the null hypothesis")

In [ ]:
x = np.arange(50,150)

y1 = stats.norm(90,15).pdf(x)
y2 = stats.norm(100,20).pdf(x)

plt.plot(x, y1, label = 'office 1')
plt.plot(x, y2, label = 'office 2')
plt.axvline(90, ls = ':')
plt.axvline(100, ls = ':', color = 'orange')

plt.legend()

3. Load the mpg dataset and use it to answer the following questions:

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
- Are compact cars more fuel-efficient than the average car?
- Do manual cars get better gas mileage than automatic cars?

In [ ]:
mpg = data('mpg')
mpg.head(3)

In [ ]:
#1. Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [ ]:
mpg['avg_fe'] = stats.hmean(mpg[['cty', 'hwy']], axis =1) 

mpg.head()

In [ ]:
fe_2008 = mpg[mpg.year == 2008].avg_fe
fe_1999 = mpg[mpg.year == 1999].avg_fe

t, p = stats.ttest_ind(fe_2008, fe_1999)
t, p

In [ ]:
α = 0.05
p < α
# fail to reject the null hypothesis that there is no difference 
# in fuel-efficency in cars from 2008 and 1999.

In [ ]:
fe_1999.mean()

In [ ]:
fe_2008.mean()

In [ ]:
plt.hist([fe_1999, fe_2008], label=['1999 cars', '2008 cars'])
plt.legend()

In [ ]:
#2. Are compact cars more fuel-efficient than the average car?

Hypo - there is a difference in fuel-efficiency between compact cars and the overall average


Null - there is no difference in fuel-efficiency between compact cars and the overall average

In [ ]:
fe_compact = mpg[mpg['class'] == 'compact'].avg_fe
μ = mpg.avg_fe.mean()

t, p = stats.ttest_1samp(fe_compact, μ)
t, p

In [ ]:
α = 0.05
p/2 < α

In [ ]:
# we reject the null hypothesis that there is no difference in 
# fuel-efficiency between compact cars and the overall average.

In [ ]:
#3. Do manual cars get better gas mileage than automatic cars?

hypo - there is a difference in gas mileage between manual and automatic cars


null - there is no difference in gas mileage between manual and automatic cars

In [ ]:
fe_auto = mpg[mpg.trans.str.contains('auto')].avg_fe
fe_manual = mpg[mpg.trans.str.contains('manual')].avg_fe

t, p = stats.ttest_ind(fe_manual, fe_auto)
t, p

In [ ]:
p/2 < α and t > 0

In [ ]:
# we reject the null hypothesis that there is no difference in gas
# mileage between manual and automatic cars

In [ ]:
mpg['transmission_type'] = np.where(mpg.trans.str.contains('auto'), 'Auto Transmission', 'Manual Transmission')

In [ ]:
mpg.groupby('transmission_type').avg_fe.mean().plot.bar()
plt.xticks(rotation=0)
plt.xlabel('')
plt.ylabel('Average Mileage')
plt.title('Is mileage different by transmission type?')
plt.show()

1. Answer with the type of stats test you would use (assume normal distribution):
- Is there a relationship between the length of your arm and the length of your foot?
- Do guys and gals quit their jobs at the same rate?
- Does the length of time of the lecture correlate with a students grade?

In [ ]:
# a. Pearson r correlation test

# b. chi2 test

# c. pearson r

2. Use the telco_churn data.
- Does tenure correlate with monthly charges?
- Total charges?
- What happens if you control for phone and internet service?

In [ ]:
url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/telco_churn'

In [ ]:
sql_query = '''SELECT *
               FROM customers
               JOIN internet_service_types USING (internet_service_type_id)'''

In [ ]:
df = pd.read_sql(sql_query, url)
df

In [ ]:
df = df[['tenure', 'monthly_charges', 'total_charges', 'internet_service_type', 'phone_service']]
df

## Does tenure correlate with monthly charges?

H$_0$ : There is no linear relationship between tenure and monthly charges

H$_a$: There is a linear relationship between tenure and monthly charges

In [ ]:
df = pd.read_csv('telco_churn.csv')
df

In [ ]:
df_filtered = df[~np.isnan(df[['tenure', 'TotalCharges']]).any(axis=1)]

In [ ]:
df.plot.scatter(y='MonthlyCharges', x='tenure')

In [ ]:
alpha = 0.05
r, p = stats.pearsonr(df.tenure, df.MonthlyCharges)
r, p

In [ ]:
if p < alpha:
    print('Reject the null hypothesis')
else:
    print('Fail to reject the null hypothesis')

In [ ]:
#  we reject the null hypothesis that there is no linear relationship between tenure and monthly charges

## Total charges?

H$_0$ : There is no linear relationship between tenure and total charges.

H$_a$ : There is a linear relationship between tenure and total charges.

In [ ]:
print(df.dtypes)

In [ ]:
stats.pearsonr(df_filtered.tenure, df_filtered.TotalCharges)

In [ ]:
if p < alpha:
    print('Reject the null hypothesis')
else:
    print('Fail to reject the null hypothesis')

In [ ]:
# we reject the null hypothesis where there is no linear relationship between tenure and total charges.

## Controlling for Phone and Internet Services

In [ ]:
def corr_tenure_and_monthly(df):
    # returns the results of a pearson's r corr test run on the dataframe
    return pd.Series(stats.pearsonr(df.tenure, df.monthly_charges), index = ['r', 'p'])

In [ ]:
df.groupby(['internet_service_type', 'phone_service']).apply(corr_tenure_and_monthly)

In [ ]:
df.groupby(['phone_service']).apply(corr_tenure_and_monthly)

In [ ]:
sns.relplot(data=df, y='monthly_charges', x='tenure', col='internet_service_type', row='phone_service')

In [ ]:
stats.pearsonr(df_filtered.tenure, df_filtered.TotalCharges)

In [ ]:
P < α

# we reject the null hypothesis

# 3. Use the employees database.
- Is there a relationship between how long an employee has been with -- the company and their salary?
- Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [ ]:
url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'

In [ ]:
query = '''
SELECT
    DATEDIFF((SELECT MAX(hire_date) FROM employees), e.hire_date) AS tenure,
    s.salary AS salary
FROM employees e
JOIN salaries s USING (emp_no)
WHERE s.to_date > NOW()
'''

In [ ]:
ews = pd.read_sql(query, url)
ews

H$_0$ : There is no linear relationship between employee tenure and their salary

H$_a$ : There is a linear relationship between employee tenure and their salary

## Is there a relationship between how long an employee has been with the company and their salary?

In [ ]:
r, p = stats.pearsonr(employees_with_salaries.tenure, employees_with_salaries.salary)
r, p

In [ ]:
p < α

In [ ]:
# We can reject the null hypothesis that there is no linear relationship between employee tenure and their salary

In [ ]:
sns.relplot(data=employees_with_salaries, y='salary', x='tenure')

## Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [ ]:
query = '''
SELECT
    e.emp_no,
    DATEDIFF((SELECT MAX(hire_date) FROM employees), e.hire_date) AS tenure,
    n_titles
FROM employees e
JOIN (
    SELECT emp_no, COUNT(*) as n_titles
    FROM employees e
    JOIN titles t USING (emp_no)
    GROUP BY emp_no
) emp_title_count USING (emp_no)
'''

In [ ]:
ewt = pd.read_sql(query, url)
ewt

H$_0$ : There's no linear relationship between employee tenure and number of titles

H$_a$ : There's a linear relationship between employee tenure and number of titles

In [ ]:
r, p = stats.pearsonr(ewt.tenure, ewt.n_titles)

In [ ]:
p < α

In [ ]:
# we can reject the null hypothesis that there's no linear relationship between employee tenure and number of titles

## 4.Use the sleepstudy data.
- Is there a relationship between days and reaction time?

In [ ]:
sleep = data('sleepstudy')
sleep.head()

H$_0$ : there is no linear relationship between reaction time and number of days

H$_a$ : there is a linear relationship between reaction time and number of days

In [ ]:
r, p = stats.pearsonr(sleep.Reaction, sleep.Days) 
p < α
# We reject the null hypothesis where there is no linear relationship between reaction time and number of days

In [ ]:
sns.lmplot(data=sleep, y='Reaction', x='Days')

# Comparison of groups Exercise

## 1. Answer with the type of stats test you would use (assume normal distribution):

- A. Do students get better test grades if they have a rubber duck on their desk?
- B.Does smoking affect when or not someone has lung cancer?
- C. Is gender independent of a person’s blood type?
- D. A farming company wants to know if a new fertilizer has improved crop yield or not
- E. Does the length of time of the lecture correlate with a students grade?
- F. Do people with dogs live in apartments more than people with cats?

A. ttest
B. Chi-chi square test
C. Chi-chi square test
D. Two-sample t-test 
E. Pearson correlation coefficient or Spearman correlation coefficient.
F. Chi-square test or logistic regression analysis.
'''

## 2. Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

                
                            Codeup Student Not Codeup Student
            Uses a Macbook 	49	         20
    Doesn't Use A Macbook	  1              30

H$_0$ : there is no association between being a codeup student and using a macbook

H$_a$ : there is a association between being a codeup student and using a macbook

In [ ]:
α = 0.05

In [ ]:
observed = [[49,20],[1,30]]
observed

In [ ]:
observed = pd.DataFrame(observed)
observed

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [ ]:
chi2, p

In [ ]:
p < α

# We reject the null hypotheses that there is no association between being a codeup student and using a macbook

## 2. Choose another 2 categorical variables from the mpg dataset and perform a chi^2 contingency table test with them. Be sure to state your null and alternative hypotheses.

In [ ]:
from pydataset import data

In [ ]:
mpg = data('mpg')
mpg

H$_0$ : there is no association between cylinder and highway mileage

H$_a$ : there is a association between cylinder and highway mileage

In [ ]:
observed = pd.crosstab(mpg.hwy, mpg.cyl)
observed

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [ ]:
chi2, p

In [ ]:
p < α

# we reject the null hypothesis that there is no association between cylinder and highway mileage

In [ ]:
sns.lmplot(data=mpg, y='cyl', x='hwy')

## 4. Use the data from the employees database to answer these questions:

- Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)
- Is an employee's gender independent of whether or not they are or have been a manager?

### Is an employee's gender independent of whether an employee works in sales or marketing?

In [ ]:
query = ''' 
        select emp_no, gender, dept_name
        from employees
            join dept_emp
                using (emp_no)
            join departments
                using (dept_no)
        where to_date = '9999-01-01'
        and dept_name in ('Marketing','Sales')'''

In [ ]:
url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'

H$_0$ : there is no association between gender and the department

H$_a$ : there is an association between gender and the department

In [ ]:
ewg= pd.read_sql(query, url)
ewg

In [ ]:
observed = pd.crosstab(ewg.gender, ewg.dept_name)
observed

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [ ]:
chi2, p

In [ ]:
p < α

In [ ]:
# we fail to reject the null hypothesis that there is no association between gender and the department

### Is an employee's gender independent of whether or not they are or have been a manager?

H$_0$ : there is no association between being a persons gender and being a manager

H$_a$ : there is a association between being a persons gender and being a manager

In [ ]:
query = '''
        select emp_no, gender, dept_no
        from employees
            left join dept_manager
                using (emp_no)
        '''

In [ ]:
ewm = pd.read_sql(query, url)
ewm

In [ ]:
ewm.dept_no = ewm.dept_no.fillna('not manager')

In [ ]:
ewm.dept_no = np.where( ewm.dept_no != 'not manager', 
                      'manager', 'not manager')

In [ ]:
observed = pd.crosstab(ewm.gender, ewm.dept_no)
observed

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(observed)
chi2, p

In [ ]:
p < α

In [ ]:
# we fail to reject the null hypothesis that there is no association between being a persons gender and being a manager